# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env

# Django
*.log
db.sqlite3
media/
staticfiles/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
postgres_data/